@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

a:hover {
    color: blue;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.head {
    max-width: 100%;
    background-image: url(../img/banner/banner-bg.jpg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-color: black;
    padding-bottom: 202px;
}

.head::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    z-index: 2;
    max-width: 90%;
    margin: 0 auto;
    padding: 26px 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 15.96%;
    max-width: 16%;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav-item {
    margin-right: 28px;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}



.header-title {
    text-align: center;
    width: 60%;
    margin: 100px auto 0
}

.header-title-text {
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 75px;
}


.main {
    max-width: 100%;
    padding-top: 63px;
    padding-bottom: 64px;
}

.main__title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 45px;
}

.main__title::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    left: 0;
    margin: 10px auto;
}

.main__title-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.main-trend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.main-trend__block {
    width: calc(25% - 3.8px);
    padding: 160px 20px 20px;
    /* min-height: 300px; */
    position: relative;
    margin-right: 5px;
    max-width: 100%;
    display: flex;
    align-items: flex-end;

}

.main-trend__conteiner {
    position: relative;
    z-index: 1;
    border: 3px solid #8f8350;
    padding: 20px;
}

.main-trend__tegs {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.main-trend__tegs-list {
    display: flex;
    color: #b59f5b;
    padding: 0;
    margin: 0;
}

.tegs {
    font-family: inherit;
    color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 16px;
    list-style-type: none;
}

.tegs:last-child {
    margin-right: 0;
}

.tegs-link {
    text-decoration: none;
    color: inherit;
}

.main-trend__title {
    font-family: 'Open Sans', sans-serif;
}

.main-trend__title-text {
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.main-trend__title-link {
    text-decoration: none;
    color: #ffffff;
}

.block1 {
    background-image: url(../img/trend/trend1.jpg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.block2 {
    background-image: url(../img/trend/trend2.jpg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.block3 {
    background-image: url(../img/trend/trend3.jpg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.block4 {
    background-image: url(../img/trend/trend4.jpg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

.main-trend__block:last-child {
    margin-right: 0;
}

.main-trend__block::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}



.main-top {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 62px;
}

.main-content {
    width: calc(67.68% - 90px);
    margin-right: 7.6%;
}

.main-content-post {
    margin-bottom: 58px;
    display: flex;
}

.main-content-post:last-child {
    margin-bottom: 0;
}

.main-content-post-img {
    max-width: 100%;
    margin-right: 30px;
}

.main-content-post-text {
    font-family: 'Open Sans', sans-serif;
}

.main-content-post-text-tegs {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}



.main-content-post-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}

.main-content-post-title-link {
    text-decoration: none;
    color: black;
}

.main-content-post-text-date {
    display: flex;
    margin-bottom: 48px;
    font-size: 12px;
    font-family: inherit;
}

.date {
    font-weight: 400;
    font-size: inherit;
    margin-right: 15px;
    color: #888888;
}

.main-sidebar-form .author {
    font-weight: 700;
}

.main-content-post-description {
    font-size: 15px;
    font-weight: 400;
}

.main-sidebar {
    width: 23.71%;
    font-family: 'Open Sans', sans-serif;

}

.main-sidebar-title {
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    position: relative;
    margin-bottom: 41px;
    text-transform: uppercase;
}

.main-sidebar-title::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 10px;
}

.main-sidebar-title-text {
    font-size: 14px;
}

.main-sidebar-content {
    margin-bottom: 60px;
}

.main-sidebar-content:last-child {
    margin-bottom: 0;
}

.main-sidebar-content-panel {
    display: flex;
    margin-bottom: 20px;
}

.main-sidebar-content-panel:last-child {
    margin: 0;
}

.main-sidebar-content-text {
    display: flex;
    flex-direction: column;
}

.main-sidebar-content-img {
    margin-right: 20px;
}


.main-sidebar-content-text-data {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
}

.main-sidebar-content-text-description {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

}

.main-sidebar-content-text-description-link {
    text-decoration: none;
    color: black;
}

.main-sidebar-search {
    margin-bottom: 60px;
}

.main-sidebar-search-form {
    display: flex;
    flex-wrap: wrap;
}

.main-sidebar-search-form-label {
    width: 80%;
}


.main-sidebar-search-input {
    border: none;
    background-color: #f4f7f6;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: inherit;
}

.main-sidebar-search-span {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.main-sidebar-search-input:focus {
    outline: none;
}

.main-sidebar-search-link {
    background-image: url(../svg/form/search.svg);
    background-color: #b59f5b;
    background-repeat: no-repeat;
    padding: 23px 23px;
    background-position: center;
    background-size: 30px;
    outline: none;
    border: none;
    width: 20%;
}

.main-sidebar-form {
    display: flex;
    flex-wrap: wrap;
}

.main-sidebar-form__label {
    width: 100%;
}

.main-sidebar-form-input {
    border: none;
    background-color: #f4f7f6;
    margin-bottom: 16px;
    width: 100%;
    height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: inherit;
    display: flex;
}

.main-sidebar-form-input:focus {
    outline: none;
}

.main-sidebar-form-input-span {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.main-sidebar-form-button {
    background-color: #b59f5b;
    color: white;
    border: none;
    width: 100%;
    height: 46px;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
}


.main-sidebar-tegs-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.main-sidebar-tegs-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    border: #eeeeee 3px solid;
    margin-right: 5px;
    margin-top: 5px;
    padding: 6px 15px;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
}

.main-sidebar-tegs-item:last-child {
    margin-left: 0;
}

.main-sidebar-tegs-link {
    text-decoration: none;
    color: black;
}

.main-sidebar-topic-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-sidebar-topic-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
}

.main-sidebar-topic-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    display: flex;
    margin-top: 15px;
}

.main-sidebar-topic-link {
    text-decoration: none;
    color: black;
}

.main-sidebar-topic-item-text {
    font-family: inherit;
    color: #c5b585;
    margin-left: 5px;
    font-size: 10px;
    vertical-align: top;
}

.main-products {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Open Sans', sans-serif;
}

.main-products__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-products__block {
    width: calc(33.33% - 40px);
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}

.main-products__block:last-child {
    margin-right: 0;
}

.main-products__conteiner {
    max-width: 280px;
    margin: 0 auto;

}

.main-products__image {
    margin-bottom: 25px;
    width: 100%;

}

.main-products__border {
    border: 3px solid #d3c59d;
    width: 100%;
    margin-top: -58px;
    padding-top: 35px;
    padding-bottom: 25px;
    /* min-height: 265px; */
    position: relative;
    flex-grow: 1;
}

.main-products__title {
    font-family: inherit;
    position: relative;
    z-index: 666;
}

.main-products__title-text {
    font-size: 1.25rem;
}

.main-products__discription {
    font-family: inherit;
    margin-bottom: 25px;
    position: relative;
    z-index: 666;
}

.main-products__discription-text {
    font-size: 0.937rem;
    font-weight: 400;
}

.main-products__discription-link {
    text-decoration: none;
    color: #b59f5b;
}

.main-products__basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 666;
}

.main-products__price {
    font-family: inherit;
}

.main-products__price-discount {
    text-decoration: line-through;
    font-size: 0.875rem;
    font-weight: 700;
}

.main-products__price-sale {
    font-size: 1.25rem;
    font-weight: 700;
}

.main-products__link {
    text-decoration: none;
    background-color: #b59f5b;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 25px;
    min-height: 45px;
}

footer {
    padding-bottom: 40px;
}

.footer {
    background-color: #f4f7f6;
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: center;
}

.social-link {
    display: flex;
    margin: 0;
    padding: 0;
}

.social-link-item {
    list-style-type: none;
    margin-right: 28px;
}

.social-link-item:last-child {
    margin-right: 0;
}

.social-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.social-twitter {

    background-image: url(../svg/social/004-twitter.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;

}

.social-pinterest {

    background-image: url(../svg/social/001-pinterest.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.social-facebook {

    background-image: url(../svg/social/002-facebook-logo.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.social-instagram {

    background-image: url(../svg/social/005-instagram.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.social-tumblr {

    background-image: url(../svg/social/003-tumblr.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;
}



.underfooter {
    margin-top: 73px;
    display: flex;
    justify-content: center;
}

.underfooter-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #999999;
}

.burger-menu {
    display: none;
}


@media (min-width: 768px) and (max-width: 1200px) {

    .head {
        background-image: url(../img/banner/banner-bg-tablet.jpg);
        padding-bottom: 120px;
    }

    .head::after {
        opacity: 0.6;
    }


    .header-top {
        align-items: stretch;
    }

    .header-logo {
        width: 22.85%;
        max-width: 23%;
    }

    .header-title {
        width: 90%;
    }

    .header-title-text {
        font-size: 2.5rem;
        line-height: 55px;
    }

    .main-trend__block {
        width: calc(50% - 3px);
        margin-bottom: 5px;
    }

    .main-trend__block:nth-child(2n) {
        margin-right: 0;
    }

    .main-trend__title-text {
        font-size: 1.0625rem;
    }


    .main-content-post {
        flex-direction: column;
    }

    .main-content {
        width: calc(57% - 30px);
        margin-right: 30px;
    }

    .main-content-post-img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .main-content-post-title {
        font-size: 1.0625rem;
    }

    .main-sidebar {
        width: 40.57%;
    }


    .main-products__wrapper {
        justify-content: flex-start;
    }

    .main__title-text {
        font-size: 1.125rem;
    }

    .main-products__block {
        width: calc(50% - 25px);
        margin-right: 25px;
        margin-bottom: 90px;

    }

    .main-products__border {
        margin: -58px auto;
    }

    .main-products__block:nth-child(2n) {
        margin-right: 0;
    }

    .main-products__title-text {
        font-size: 1.0625rem;
    }

    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }


    div.action {
        display: flex;
        position: absolute;
        top: 45px;
        right: 50px;
    }

    div.action::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        transform: rotate(45deg);
        top: 0;
    }

    div.action::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        transform: rotate(-45deg);
        bottom: -2px;
    }


    .burger-menu {
        display: flex;
        position: absolute;
        top: 45px;
        right: 50px;


    }

    .burger-menu::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        top: 10px;
    }

    .burger-menu::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        bottom: 10px;
    }

    .burger-menu__span {
        width: 30px;
        height: 2px;
        background-color: white;
        position: absolute;
    }

    .nav {
        display: none;
        justify-content: flex-end;
        margin-right: 56px;
    }

    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav-item {
        margin-bottom: 10px;
    }


}

@media (max-width: 767px) {
    .head {
        background-image: url(../img/banner/banner-mobile.jpg);
        padding-bottom: 120px;
    }


    .head::after {
        opacity: 0.6;
    }

    .header-title {
        width: 90%;
        margin: auto;
    }

    .header-title-text {
        font-size: 1.625rem;
        line-height: 36px;
    }



    .header-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 40px;
        width: 82%;
        max-width: 90%;
    }

    .main__title-text {
        font-size: 1rem;
    }

    .main-trend__block {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
    }

    .main-trend__block:last-child {
        margin-bottom: 0;
    }

    .main-trend__title-text {
        font-size: 1rem;
    }

    .main-top {
        max-width: 100%;
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        margin-right: 0;
    }

    .main-content-post {
        flex-direction: column;
    }

    .main-content-post-title {
        font-size: 1rem;
    }

    .main-content-post-description {
        font-size: 0.875rem;
    }

    .main-content-post:last-child {
        margin-bottom: 45px;
    }

    .main-content-post-img {
        margin-right: 0;
    }

    .main-sidebar {
        width: 100%;
    }

    .main-products {
        max-width: 100%;
    }

    .main-products__block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .main-products__block:last-child {
        margin-bottom: 0;
    }

    .main-products__title-text {
        font-size: 1.0625rem;
    }

    .main-products__link {
        font-size: 0.875rem;
    }

    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }

    div.action {
        display: flex;
        position: absolute;
        top: 45px;
        right: 50px;
    }

    div.action::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        transform: rotate(45deg);
        top: 0;
    }

    div.action::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        transform: rotate(-45deg);
        bottom: -2px;
    }


    .burger-menu {
        display: flex;
        position: absolute;
        top: 45px;
        right: 50px;


    }

    .burger-menu::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        top: 10px;
    }

    .burger-menu::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        bottom: 10px;
    }

    .burger-menu__span {
        width: 30px;
        height: 2px;
        background-color: white;
        position: absolute;
    }

    .nav {
        display: none;
        justify-content: flex-end;
        margin-right: 56px;
    }

    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav-item {
        margin-bottom: 10px;
    }
}